<?xml version="1.0"?>
<config>
    <modules>
        <ES_AceEditor>
            <version>0.1.0</version>
        </ES_AceEditor>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <es_aceeditor>
                    <file>es_aceeditor.xml</file>
                </es_aceeditor>
            </updates>
        </layout>
    </adminhtml>
</config>
